<% provide(:title, "Iniciar Sesión") %>
<h1>Iniciar Sesión</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email, "Correo electrónico" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "Contraseña" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= link_to "(Olvidé Contraseña)", new_password_reset_path %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
      	<%= f.check_box :remember_me %>
      	<span>Recordarme (<b>Recomendado en computadores seguros</b>)</span>
      <% end %>

      <%= f.submit "Iniciar Sesión", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>